section.repository-list {
    margin: 40px;

    h1 {
        margin-bottom: 28px;
    }

    h3 {
        text-transform: uppercase;
    }

    ul {
        list-style: none;

        li {
            & + li {
                margin-top: 20px;
            }
        }

        p {
            font-size: 14px;
            color: #444;
            margin-top: 8px;
        }

        a {
            button {
                display: inline-block;
                margin-top: 8px;
                margin-bottom: 14px;
                padding: 12px;
                border: none;
                border-radius: 6px;
                color: #fff;
                background-color: #8257e6;
                cursor: pointer;
                transition: 0.1s ease-in-out;

                &:hover {
                    background-color: #553897;
                }
            }
        }
    }
}